<div class="steps-layout">
    <div class="step">
        <div class="step-circle">
            <h4>1</h4>
        </div>
        <a>
            <div id="active" class="step-info">
                <h4>Consultation!</h4>
                <p class="step-text">Imagine it, and we can build it.</p>
            </div>

        </a>
    </div>
    <div class="step">
        <div class="step-circle">
            <h4>2</h4>
        </div>
        <a>
            <div class="step-info">

                <h4>We build it!</h4>

                <p class="step-text">We'll take your idea, and build it from scratch. We specialize in custom projects and tailored to your needs. Get something built that makes you happy, not just something that works.</p>
            </div>

        </a>
        </div>
        <div class="step">
        <div class="step-circle">
            <h4>3</h4>
        </div>
        <a>
            <div class="step-info">
                <h4>We manage!</h4>
                <p class="step-text">We will work with you every step of the way to make this vision a reality. </p>
            </div>

        </a>
        </div>
</div>