<%- include('includes/head', {pageTitle : 'Login | Double Depth'}) %>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDNQGL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
   <h1>Something went wrong - please try again</h1>
    <a class="btn" href="/">Take me home!</a>
</body>
