<%- include('includes/head', {pageTitle : 'Services | Double Depth'}) %>
<link rel="stylesheet" href="/styles/services.css">
<script src="scripts/popup-handler.js" defer></script>
<script src="scripts/steps-slider.js" defer></script>
</head>

<%- include('includes/navbar') %> 

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDNQGL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section class="services-section">
          <div class="service-layout">
        <div class="service-info">
            <div class="service-img-container">
                <h1>Website Development</h1>
                <div class="bg-overlay"></div>
                <img class="service-img" src="/imgs/portfolio-dummy.jpg" alt="">
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi pariatur distinctio porro, maiores quis impedit quibusdam fugit eaque possimus dolorum libero corporis. Debitis nihil explicabo ea quo quod iusto. Quis.</p>
            <div class="service-cta">
                <a href="/home#contact-section">
                    <button class="btn">Get In Contact!</button>
                    
                </a>
                <p>Get a quote tailored to your needs!</p>
            </div>
            <div class="divider-right"></div>
        </div>
   </div> 
          <div class="service-layout">
              <div class="service-info">
            <div class="service-img-container-invert">
                <h1>Cinematography</h1>
                <div class="bg-overlay"></div>
                <img class="service-img" src="/imgs/portfolio-dummy.jpg" alt="">
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi pariatur distinctio porro, maiores quis impedit quibusdam fugit eaque possimus dolorum libero corporis. Debitis nihil explicabo ea quo quod iusto. Quis.</p>
            <div class="service-cta">
                <a href="/home#contact-section">
                    <button class="btn">Get In Contact!</button>
                    
                </a>
                <p>Get a quote tailored to your needs!</p>
            </div>
            <div class="divider-right-invert"></div>
        </div>
    </div> 
    <div class="service-layout">
        <div class="service-info">
            <div class="service-img-container">
                <h1>Copywriting</h1>
                <div class="bg-overlay"></div>
                <img class="service-img" src="/imgs/portfolio-dummy.jpg" alt="">
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi pariatur distinctio porro, maiores quis impedit quibusdam fugit eaque possimus dolorum libero corporis. Debitis nihil explicabo ea quo quod iusto. Quis.</p>
            <div class="service-cta">
                <a href="/home#contact-section">
                    <button class="btn">Get In Contact!</button>
                    
                </a>
                <p>Get a quote tailored to your needs!</p>
            </div>
            <div class="divider-right"></div>
        </div>
    </div> 
</section>

</body>

<%- include('includes/footer') %> 